

body
{
  background-color: yellow;
}



header {
 align-items: center;
 display: flex;
 justify-content: flex-end;
 flex-direction: row;
 margin: 1em;
}

.head {
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 margin: 1em;

}


.group_center{


    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 16%;

}


.input
{
  width: inherit;
  height: 2em;
  padding-left: 1em;
}



.buttons
{
  margin: 2em;
  display: flex;
  flex-flow: row;
}


.button1
{
  padding: 1em;
}

.button2
{
  padding: 1em;
}

#footer
{
  display: flex;
  flex-direction: row;
  margin: 1em;
  align-items: stretch;
}
